/*******************************************************************************
*** FONTS
*******************************************************************************/
@font-face {
    font-family: 'AirbnbCereal';
    font-weight: 800;
    font-style: normal;

    src: url('../../assets/fonts/AirbnbCereal-ExtraBold.woff2') format('woff2'),
    url('../../assets/fonts/AirbnbCereal-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'AirbnbCereal';
    font-weight: 500;
    font-style: normal;

    src: url('../../assets/fonts/AirbnbCereal-Medium.woff2') format('woff2'),
    url('../../assets/fonts/AirbnbCereal-Medium.woff') format('woff');
}

@font-face {
    font-family: 'AirbnbCereal';
    font-weight: 300;
    font-style: normal;

    src: url('../../assets/fonts/AirbnbCereal-Light.woff2') format('woff2'),
    url('../../assets/fonts/AirbnbCereal-Light.woff') format('woff');
}

@font-face {
    font-family: 'AirbnbCereal';
    font-weight: bold;
    font-style: normal;

    src: url('../../assets/fonts/AirbnbCereal-Bold.woff2') format('woff2'),
    url('../../assets/fonts/AirbnbCereal-Bold.woff') format('woff');
}

@font-face {
    font-family: 'AirbnbCereal';
    font-weight: 900;
    font-style: normal;

    src: url('../../assets/fonts/AirbnbCereal-Black.woff2') format('woff2'),
    url('../../assets/fonts/AirbnbCereal-Black.woff') format('woff');
}

@font-face {
    font-family: 'AirbnbCereal';
    font-weight: normal;
    font-style: normal;

    src: url('../../assets/fonts/AirbnbCereal-Book.woff2') format('woff2'),
    url('../../assets/fonts/AirbnbCereal-Book.woff') format('woff');
}

