// Spacing
$space: 1.5rem;

$desktop-width: 1000px;

$large-desktop-width: 1600px;

// Colors
$color-bg-menu: #f6f7fb;

$color-text: #545566;

$color-blue: #0078ff;

$color-darkblue: #00215f;

// Fonts
$main-font: 'AirbnbCereal', sans-serif;


// Font size
$font-size_default: 13px;

$font-size-button: 15px;

